# STM32CubeIDE
/Debug/
/Release/
*.o
*.d
*.elf
*.map
*.list
*.bin
*.hex
*.su
*.ioc.bak

# Keil / IAR / others
*.crf
*.axf
*.sct
*.lnp
*.dep
*.uvguix*
*.uvoptx
*.uvprojx

# User settings
/.settings/
/.project
/.cproject
/.mxproject
/.launches/
*.launch